@{
    ViewBag.Title = "Home";
}
@section featured {    
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">                
            </hgroup>
        </div>
    </section>
}
<h3>Active Features</h3>
<ul class="round">
        @foreach (var feature in ViewBag.Features)
        {
            <li><span class="inlinesparkline">@feature.Sparkline</span>@feature.Name</li>
        }
</ul>


@section scripts {
    <script type="text/javascript">
        $("ul.nav li.dashboard").addClass("active");
        $('.inlinesparkline').sparkline();
    </script>
}