@{   
    ViewBag.Title = "Workbench";
}

<h2>Workbench</h2>
<form id="add_event" action="/Workbench" enctype="multipart/form-data" method="POST">
    <h3>Add Event</h3>
    <input type="text" name="name"/>
    <select name="type">
        <option value="tick">Tick</option>
        <option value="start">Start</option>
        <option value="stop">Stop</option>
    </select>
    <input type="submit" name="add" value="Add Event"/>
    <br/>
    <h3>Import Events</h3>
    <input type="file" name="file"/>
    <input type="submit" name="import" value="Import Events"/>
</form>
<h3>Events</h3>
<table id="events">
    <thead>
        <tr>
            <th>Feature</th>
            <th>Type</th>
            <th>At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userEvent in ViewBag.Events)
        {
            <tr>
                <td>@userEvent.Feature</td>
                <td>@userEvent.Type</td>
                <td>@userEvent.At</td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $("ul.nav li.workbench").addClass("active");
        $("table#events").dataTable();
    </script>    
}
